@charset "utf-8";

body{
    background-color: #1b1c1b;
    font: normal 1em arial, helvetica, sans-serif;
}

.container{
    background-color: white;
    padding: 25PX;
    margin: auto;
    width: 800px;
    height: 100%;
}

main{
    border: 1px solid #1b1c1b;
    padding: 10px;
}

h1#principal{
    font: italic 2.5em arial, helvetica, sans-serif;
    text-align: center;
    border: 1px solid #1b1c1b;
}

.secundario{
    text-align: center;
    text-decoration: underline;
}

p{
    text-indent: 30px;
}