@charset "utf-8";

body{
    font: normal 1em arial, helvetica, sans-serif;
    background-color: #1b1c1b;
    margin: 0px;
}

header{
    background-color: white;
    padding: 10px;
    margin: 10px;
}

nav{
    background-color: dimgray;
    padding: 3px;
    box-shadow: 2px 2px 4px 1px rgba(0, 0, 0, 0.315);
}

nav > a{
    text-decoration: none;
    color: white;
    font-weight: bold;
    margin-right: 50px;
}

nav > a:hover{
    text-decoration: underline;
}

main{
    background-color: whitesmoke;
    padding: 10px;
    margin: 10px;
    border-radius: 10px 0px;
    box-shadow: 2px 2px 4px 1px rgba(0, 0, 0, 0.315);
}

#bola{
    height: 100px;
    width: 100px;
    margin: 10px;
    background-color: whitesmoke;
    border-radius: 50%;
}

article{
    background-color: lightgray;
    padding: 5px;
}

article > aside{
    background-color: rgb(185, 185, 185);
}

footer{
    background-color: black;
    color: white;
    text-align: center;
    padding: 5px;
    margin: 0px;
}

footer > p {
    margin: 0px;
}